@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,700&subset=latin-ext");
* {
  box-sizing: border-box; }

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto; }

body {
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif; }

.big-wrapper {
  background: url("../img/background.png") no-repeat center 0/cover;
  min-height: 100vh; }

.container {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }

.page-header {
  margin-top: 30px;
  padding: 10px;
  display: flex;
  justify-content: center; }
  .page-header .logo {
    opacity: 0.5; }

.row {
  display: flex;
  flex-wrap: wrap; }

.column {
  flex: 50%;
  padding: 0 30px; }

.form-title {
  text-align: center;
  color: white;
  text-shadow: 0 0 3px black;
  font-weight: 500; }

.form-box {
  background-color: rgba(0, 0, 0, 0.4);
  border: 15px solid transparent;
  border-radius: 5px;
  margin-bottom: 40px; }
  .form-box .form-wrapper {
    background-color: #f6f6f6;
    padding: 15px;
    border-radius: 5px; }

.input, .icon {
  display: inline-block; }

.icon {
  padding: 6px 20px;
  border-right: 1px solid #c6c6c6;
  color: #c6c6c6; }

.input {
  flex: 100%; }
  .input input, .input select, .input textarea {
    width: 100%;
    background: transparent;
    border: none;
    padding: 0 20px;
    height: 40px; }
    .input input::placeholder, .input select::placeholder, .input textarea::placeholder {
      color: #c6c6c6; }
  .input select {
    color: #c6c6c6; }

textarea {
  padding: 10px !important;
  min-height: 200px;
  resize: none; }

.input-box {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  border: 1px solid #c6c6c6;
  border-radius: 5px;
  margin-bottom: 15px; }

.checkbox-box {
  color: #c6c6c6;
  display: flex;
  align-items: center; }
  .checkbox-box .checkbox {
    display: inline-block;
    position: relative;
    cursor: pointer;
    min-width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 1px solid #c6c6c6;
    margin-right: 5px; }
    .checkbox-box .checkbox::after {
      content: "";
      position: absolute;
      display: none;
      height: 10px;
      width: 10px;
      background: #97d231;
      left: 4px;
      top: 4px;
      border-radius: 1px; }
  .checkbox-box input {
    display: none; }
    .checkbox-box input:checked ~ label .checkbox::after {
      display: block; }

.flex {
  display: flex; }

.block {
  width: 100%; }

.button {
  margin: 10px 0;
  padding: 10px 40px;
  border: none;
  cursor: pointer;
  color: white;
  text-shadow: 0 0 20px black;
  font-size: 1.1em;
  border-radius: 5px; }

button:disabled {
  opacity: 0.5; }

.confirm {
  background-image: linear-gradient(#97d231, #83b232);
  border: 1px solid #81b22c;
  transition: 0.2s; }
  .confirm:hover {
    background-image: linear-gradient(#83b232, #83b232); }

.no {
  background-image: linear-gradient(red, #af0000);
  border: 1px solid #740000;
  transition: 0.2s; }
  .no:hover {
    background-image: linear-gradient(#af0000, #af0000); }

.btn-inline {
  margin-left: auto; }

.logo-down {
  padding: 10px;
  opacity: 0.3;
  text-align: center; }

@media (max-width: 768px) {
  textarea {
    min-height: 150px; }

  .form-box {
    margin-bottom: 10px; }

  .column {
    flex: 100%; } }
@media (max-width: 500px) {
  .button {
    padding: 10px; }

  .column {
    padding: 10px; } }

/*# sourceMappingURL=style.css.map */
